body {
  background-color: lightblue;
  font-family: Grenze Gotisch;
}

h1 {
    font-size: 60px;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 10px;
}

