body {
  background-color: lightblue;
  font-family: Grenze Gotisch;
  background-image: url("RobloxScreenShot20250921_074604328.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

h1 {
    font-size: 60px;
  color: red;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 10px;
}

.nobg{

}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: transform 0.2s ease-in-out, background 0.2s;
}

